body {
text-align: center;
margin: 0;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	color= #FFFFFF;
	padding: 20px;
}
Main {
	width: 850px;
	margin: 35px auto;
}
h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
text-transform: uppercase;
color: #0D2C40
font-size: 45px;
letter-spacing: 1px;
margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #0D2C40
	font-size: 20px;
	letter-spacing: 1px;
}

p {
font-family: "Droid Serif", serif;
}

div {
	text-decoration: none;
}

a {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	margin: 0px 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}

h3 {
	font-family: "Droid Serif", sans-serif;
	line-height: 26px;
	font-size: 18px;
}
img {
	margin: 40px 8px 0px 8px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}